# Segurança (NUNCA subir para o GitHub)


# Frontend (React/Node)
frontend/node_modules/

frontend/build/
frontend/dist/
.DS_Store

# Env / secrets
.env
**/.env
**/.env.*

# Backend (Go)
backend/tmp/
backend/bin/
backend/*.exe

# Backend (Node)
backend-node/node_modules/